.text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.wrapepr form label {
    font-size: 15px;
    font-weight: 600;
}
.wrapepr form input[type="text"] {
    padding: 10px;
    outline: none;
}
.wrapepr form input[type="submit"] {
    width: max-content;
    padding: 10px;
    background-color: #3f51b5;
    outline: none;
    border: none;
    margin-top: 10px;
    color: white;
}
.contain{
    height: 100%;
    background-color: #888;
}
.tilte-box {
    width: 100% ;
    display: flex;
    justify-content: space-between;
}
.tilte-box>h2{
    border: 1px solid black ;
    width: 33%;
    text-align: center;
}
.wrapepr{
    background-color: white;
    width: 90%;
    margin: 0 auto;
    padding: 2rem;
}
.tittle{
    font-size: 24px;
    padding: 0 24px;
}
form .block-input h5{
        font-size: 16px;
        font-weight: bold;
        margin: 0;
}
form .block-input input{
    display: block;
    width: 240px;
    padding: 9px 9px;
    margin-bottom: 8px;
    border-radius: 3px;
    border: 1px solid #888;
    font-size: 14px;
}

.btn-submit{
    outline: none;
    padding: 10px;
    background-color: #3f51b5;
    color: #fff;
    border: #fff8ee;
}
.wrapper-product{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper-product>div {
    margin-top: 10px ;
    width: 100%;
    /* border:1px solid black; */
    display: flex ;
    justify-content: space-around ;
    align-items: center ;
}
.price{
    font-size: 20px;
    font-weight: 700;
}
.prod-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.prod-content img{
    width: 80px;
    height: auto;
}
.wrapper-voucher{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    width: auto;
    background-color: #dedede;
    margin-bottom: 2rem;
    height: 70px;
    padding: 0 40px;
}
.wrapper-voucher>div{
    display: flex ;
    justify-content: center ;
    align-self: center;
}
.wrapper-voucher>div>p{
    margin-left: 10px ;
}
.wrapper-voucher>a{
    cursor: pointer;
    color: black ;
}
.thanhtoan {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.thanhtoan>.cash_checkout {
    display: flex;
    align-items: center;
}
.select-pt{
    display: flex;
    gap: 10px;
    cursor: pointer;
}
.select-pt>button {
    height: 32px ;
    padding: 0 10px 0 10px ; 
    background-color: white;
    border: 1px solid black ;
    margin-left: 10px ;
}
.box-wrapper{
    border: 1px solid #ccc;
    padding: 10px;
}
.totalprice {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.totalprice p{
    font-size: 20px;
    font-weight: 500;
}
.totalprice>.total {
    color: green;
    font-weight: 800;
    margin-left: 10px;
}
.wrapepr form {
    display: flex;
    flex-direction: column;
    width: 500px;
}

form>span {
    background-color: white ;
    position: relative ;
    top: 10px ;
    left:10px ;
    /* border: 1px solid black; */
    width: fit-content;
    padding: 0 5px 0 5px ;
}
form>input {
    margin-bottom: 10px ;
    border: 0.5px solid black;
    border-radius: 10px 0 10px 0 ;
}
.selectVoucher {
    width: 100%;
    margin: 30px 0 30px 0 ;
    display: flex ;
    justify-content: center ;
    align-self: flex-start;
}
.message {
    width: 50%;
    position: relative;
    left: 30px;
}
.message>input {
    padding: 5px;
    margin-left: 10px;
}
.shippingMoniter {
    width: 50%;
}
.shippingMoniter>.Part1{
    width: 100% ;
    display: flex ;
    justify-content: space-between ;
    align-items: center ;
}
.shippingMoniter>hr {
    margin: 10px 0 10px 0;
}
.shippingMoniter>.Part2{
    width: 100% ;
    display: flex ;
}
.shippingMoniter>.Part2>p{
    margin-right: 10px ;
}
.global_hr {
    margin: 20px 0 20px ; 
}
