* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
body {
  font-family: 'Times New Roman', Times, serif;
}
.body-container {
  padding: 0 100px;
}
.body-title img {
  width: 50%;
  border-radius: 40px 0;
  margin-top: 50px;
}
.body-title p {
  color: rgb(133, 132, 132);
  margin-top: 20px;
}
.body-content {
  padding: 50px;
  line-height: 30px;
}
.body-content h1 {
  margin-bottom: 30px;
}
.body-content span {
  color: black;
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
  display: block;
}
.body-bottom {
  display: flex;
  width: 100%;
}
.body-bottom-img {
  display: flex;
  width: 700px;
  height: 300px;
  align-items: center;
  justify-content: center;
  background-color: #3f51b5;
  border-radius: 30px 0;
  color: white;
  font-weight: bold;
  font-size: 50px;
}
.body-bottom-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
  padding-right: 100px;
}
.body-bottom-content h1 {
  margin-bottom: 30px;
  font-size: 30px;
}
.body-bottom-content p {
  font-size: 16px;
  color: rgb(77, 77, 77);
}
.body-bottom-content a {
  display: flex;
  margin-top: 20px;
  border: 1px solid black;
  background-color: black;
  font-weight: bold;
  color: white;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 45px;
  transition: 0.3s;
  border-radius: 10px 0;
}
.body-bottom-content a:hover {
  background-color: white;
  color: black;
}
